
@{
    ViewBag.Title = "SendRequest";
}

    <link href="~/content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap-combined.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.js"></script>

<h2></h2>
<body data-ng-app='App'>
    <form class="form-horizontal" data-ng-controller="LetterController">
        <fieldset>
            <legend>Gửi đơn xin phép</legend>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Mã số thành viên</label>
                <div class="col-lg-10">
                    <input class="form-control"  data-ng-model="NewRequest.memberid" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Loại đơn</label>
                <div class="col-lg-10" data-ng-model="NewRequest.letterid">
                    <select ng-options="letter as letter.description for letter in letters track by letter.letterId" ng-model="data.letterid" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Ngày bắt đầu</label>
                <div id="datetimepickerStart" class="input-append date col-lg-10">
                    <input type="text" data-ng-model="NewRequest.startdate" class="form-control">
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Ngày Kết thúc</label>
                <div id="datetimepickerEnd" class="input-append date col-lg-10">
                    <input type="text"  data-ng-model="NewRequest.startdate" class="form-control">
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>
                </div>
            </div>


            <script type="text/javascript">
                $('#datetimepickerStart').datetimepicker({
                    format: 'dd/MM/yyyy hh:mm:ss',
                    language: 'pt-BR'
                });
                $('#datetimepickerEnd').datetimepicker({
                    format: 'dd/MM/yyyy hh:mm:ss',
                    language: 'pt-BR'
                });
            </script>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Lý do</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea" data-ng-model="NewRequest.reason"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" data-ng-click="add()">Xác nhận</button>
                    <button type="reset" class="btn btn-default">Hủy bỏ</button>

                </div>
            </div>
        </fieldset>
    </form>

</body>

