
@{
    ViewBag.Title = "Index";
}

<h2 class="text-info">Quản lý đơn xin phép</h2>

<div data-ng-app='App'>
    <div id="index-account" data-ng-controller="RequestController">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Loại đơn</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Lý do</th>
                    <th>Xét duyệt</th>
                    <th ng-bind-html ="myHTML"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="request in requests">
                    <td data-ng-show="false" data-ng-model="request.id"><span>{{ request.requestid }}</span></td>
                    <td><span data-ng-model="request.fullname">{{ request.fullname }}</span></td>
                    <td><span data-ng-model="request.letter">{{ request.letter }}</span></td>
                    <td><span data-ng-model="request.startdate">{{ request.startdate }}</span></td>
                    <td><span data-ng-model="request.enddate">{{ request.enddate }}</span></td>
                    <td><span data-ng-model="request.reason">{{ request.reason }}</span></td>
                    <td>
                        <span data-ng-model="request.approval">{{ request.approval ? 'Đã duyệt' : 'Chưa duyệt' }}</span>
                    </td>
                    <td><button type="submit" class="btn btn-primary" data-ng-click="approval(request)">Duyệt đơn</button></td>
                    <td><button type="submit" class="btn btn-warning" data-ng-click="cancel(request)"> Bỏ duyệt</button></td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>
