<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Đăng nhập</h2>
        <p class="text-primary">Nhấn vào nút Đăng nhập để truy cập.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Đăng nhập &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Đăng ký</h2>
        <p class="text-primary">Nếu bạn chưa có tài khoản. Hãy tạo tài khoản mới.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Đăng ký &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
