<h2 class="text-info">Liên hệ</h2>
<div>
    <script lang="javascript">
    (function () {
        var _h1 = document.getElementsByTagName('title')[0] || false;
        var product_name = ''; if (_h1) { product_name = _h1.textContent || _h1.innerText; } var ga = document.createElement('script'); ga.type = 'text/javascript';
        ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=def2dfe949838724cbba08fb984a766d&data=eyJzc29faWQiOjM0NDgwOTUsImhhc2giOiIxMGYzMTg5MWI3N2JkYjNkNDc5MTU0ZDhjZjMzYjYyOSJ9&pname=' + product_name;
        var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]);
    })();
    </script>	
</div>