<form class="form-horizontal">
    <fieldset>
        <legend class="text-primary">{{eventdetails[0].otherId}} - {{eventdetails[0].name}}
        </legend>
        
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Trưởng ban tổ chức</label>
            <div class="col-lg-10">
                <p class="control-label text-warning">{{eventdetails[0].fullname}}</p>
            </div>
            <input type="hidden" data-ng-model="NewRequest.LetterId">
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Ngày tổ chức</label>
            <div class="col-lg-10">
                <p class="control-label text-warning">{{eventdetails[0].startDate}}</p>
            </div>
            <input type="hidden" data-ng-model="NewRequest.LetterId">
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Ngày kết thúc</label>
            <div class="col-lg-10">
                <p class="control-label text-warning">{{eventdetails[0].endDate}}</p>
            </div>
            <input type="hidden" data-ng-model="NewRequest.LetterId">
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Điểm số chương trình</label>
            <div class="col-lg-10">
                <p class="control-label text-warning">{{eventdetails[0].score}}</p>
            </div>
            <input type="hidden" data-ng-model="NewRequest.LetterId">
        </div>
    </fieldset>
</form>
<button type="button" class="btn btn-default" data-ng-click="memberdetails()">Thông tin thành viên</button>
<h2 class="text-info" ng-hide="memberMode">Thành viên tham gia</h2>
<div id="index-account" ng-hide="memberMode">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nhiệm kỳ</th>
                <th>Mã số thành viên</th>
                <th>Chức vụ</th>
                <th>Họ và tên</th>
                <th>Đánh giá</th>
                <th ng-bind-html="myHTML"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="eventdetail in eventdetails">
                <td data-ng-show="false" data-ng-model="request.id"><span>{{ eventdetail.member.memberId }}</span></td>
                <td><span>{{ eventdetail.member.term }}</span></td>
                <td><span data-ng-model="request.letter">{{ eventdetail.member.knsId }}</span></td>
                <td><span data-ng-model="request.startdate">{{ eventdetail.eventRole }}</span></td>
                <td><span data-ng-model="request.enddate">{{ eventdetail.member.fullname }}</span></td>
                <td><input type="number" value="{{eventdetail.partScore}}" ng-disabled="scoreMode"/></td>
                <td><button type="submit" class="btn btn-primary" data-ng-click="score(request)">Đánh giá</button></td>
            </tr>
        </tbody>

    </table>
</div>
<button type="submit" class="btn btn-success" data-ng-click="part(request)">Tham gia</button>
<button type="submit" class="btn btn-danger" data-ng-click="part(request)">Bỏ tham gia</button>