<h2 class="text-info">Danh sách chương trình</h2>
<div id="index-account">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Tên chương trình</th>
                <th>Mô tả</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Leader</th>
                <th></th>
                <th></th>
                <th ng-bind-html="myHTML"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="event in events">
                <td data-ng-show="false" data-ng-model="event.eventid"><span>{{ event.eventId }}</span></td>
                <td><span class="text-primary">[{{event.otherId}}] {{ event.eventName }}</span></td>
                <td><span>{{ event.description }}</span></td>
                <td><span>{{ event.startdate }}</span></td>
                <td><span>{{ event.enddate }}</span></td>
                <td><span>{{ event.fullname }}</span></td>
                <td>
                </td>
                <td><a href="#/user/eventdetails" ng-click="viewDetails(event)">Xem thêm</a></td>
            </tr>
        </tbody>

    </table>
</div>