<form class="form-horizontal">
    <fieldset>
        <h2 class="text-info">
            Thông tin cá nhân</h2>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Mã số thành viên</label>
            <div class="col-lg-10">
                <input type="text" value="{{info.knsId}}" class="form-control" ng-disabled="true" />
            </div>
            <input type="hidden" data-ng-model="newInfo.LetterId">
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Họ và Tên</label>
            <div class="col-lg-10">
                <input type="text" value="{{info.fullname}}" class="form-control" ng-disabled="editMode" />
            </div>
        </div>
      
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Ngày sinh</label>
            <div class="col-lg-10">
                <input type="text" value="{{info.birthDate}}" class="form-control" ng-disabled="editMode" />
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Trường</label>
            <div class="col-lg-10">
                <input type="text" value="{{info.university}}" class="form-control" ng-disabled="editMode" />
            </div>
            <input type="hidden" data-ng-model="NewRequest.LetterId">
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Sơ lược bản thân</label>
            <div class="col-lg-10">
                <textarea class="form-control" ng-disabled="editMode">{{info.description}}</textarea>
            </div>
        </div>
     

        <div class="form-group">
            <label for="select" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <button type="button" class="btn btn-primary" data-ng-click="confirm()" ng-disabled="editMode">Xác nhận</button>
                <button type="button" class="btn btn-default" data-ng-click="enableEdit()">Chỉnh sửa</button>
            </div>
        </div>

    </fieldset>
</form>
