@{
    ViewBag.Title = "Index";
}

<head>
    <title>Rss Feed</title>

</head>
<body>
    <div id="bodyContainer" data-ng-app='App'>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="flip-container col-md-12" data-ng-controller='RssEventController'>
                        <div class="back" ng-class="{flip: answered, correct: correctAnswer, incorrect:!correctAnswer}">
                            <p>
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <td><h2>Chương trình | Sự kiện</h2></td>
                                    </tr>
                                    <tr data-ng-repeat="option in options">
                                        <td>
                                            <a href="{{option.websiteLink}}">
                                                {{option.title}}
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>



