<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KNSERS Employee Management System</title>

    <link href="~/content/css/bootstrap.css" rel="stylesheet" />

    <link href="~/content/Site.css" rel="stylesheet" />
    <link href="~/content/css/loading-bar.min.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<nav class="navbar navbar-default">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KNS</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="navigation-bar">
                <li class="" id="gui-don-xin-phep"><a href="/Request/Create" onclick="onload()">Gửi đơn xin phép<span class="sr-only">(current)</span></a></li>
                <li class=""><a href="~/index.html">Chương trình</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Khác<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="../RssEvent/Index">Chương trình | Sự kiện khác</a></li>
                        <li><a href="../Request/Index">Quản lý đơn từ</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; @DateTime.Now.Year</p>
                            <p class="text-muted">Created by <a target="_blank" href="https://www.facebook.com/kynangsong.org/?fref=ts">KNSERS</a></p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-muted">Developed Team: <a target="_blank" href="#">KNSER</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/app/AppJS.js"></script>
    <script src="~/scripts/app/memberController.js"></script>
    <script src="~/scripts/loading-bar.min.js"></script>
    @*<script>
        $('#navigation-bar').on('click', 'li', function () {
            $('#navigation-bar li.active').removeClass('active');
            alert("change");
            $(this).addClass('active');
        });
    </script>*@

</body>
</html>